<!DOCTYPE html>
<html ng-app="Todoapp">
  <head>
    <meta charset="utf-8">
    <title>TODO APP</title>
      <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <br><br>
  <body bgcolor="#00FF00">
    <div class ="container" >
    <div ng-controller="AddMessageController">
      <center><form>
        <div>
        <center><div class="form-group">
          <h1><label for="Todoapp"><font face="Lucida Console"><FONT COLOR=#FF0000>TODO</font></label></FONT></h1>
          <input type="text" class="form-control input-lg" id = "Todoapp" ng-model="title" placeholder="What is to be done ?"><br>
        </div>
        <button ng-click="save()" type="button" class="btn btn-primary" name="button">Add</button></center>
        </div>
      </form>
    </div>

        <div ng-controller="ListMessageController">
          <table class="table table-striped" >
          <thead>

            <th width="20%">Checkbox</th>
            <th>Message</th>
            <th width="20%">Status</th>

            <tbody>
            <tr ng-repeat="mess in Todo" >
              <td width="20%">
                <div class="checkbox">
                <label ></label><input type="checkbox" ng-model="done" ng-true-value="'Complete'" ng-false-value="''">
                </div>
              </td>
              <td>{{ mess.title }}</td>
              <td width="20%">{{ done }}</td>
            </tr>
          </tbody>
          </thead>
          </table>
      </center>
    </div>
</div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="app.js"></script>

  </body>
</html>
